<body>


    <section id="projects">
        <header>
            <h1 class="text-light">Projects</h1>
            <p>Please see some of my favourite Projects to date.</p>
        </header>
        <div class="project">
            <img src="/img/SS.png" alt="Project 1" class="ss">
            <h3>Style Stage</h3>
            <p>This was my Application for the Style Stage CSS challenge</p>
            <a href="/style stage/stylestage.html">View Project</a>
        </div>

        <div class="project">
            <img src="/img/womansday.jpg" alt="Womans Day" class="woman">
            <h3>Womans Day magazine</h3>
            <p>in this project i used css flexbox to make a magazine on womans day.</p>
            <a href="/assignment 3/womans-day.html">View Project</a>
        </div>
        <div class="project">
            <img src="/img/Smoothiemachine.png" alt="Smoothie machine" class="smoothie">
            <h3>Smoothie Website</h3>
            <p>in this project I created the functionality of a smoothie making website using JS</p>
            <a href="/ASS3(fin)/index.html">View Project</a>
        </div>

    </section>
