<section class="skills">
    <h2 class="section-title">Technical Skills { </h2>
  
    <div class="skills-list">
      <div class="skill">
        <span class="skill-name">HTML</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
        </div>
      </div>
      
      <div class="skill">
        <span class="skill-name">Bootstrap</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>


        </div>
      </div>
      
      <div class="skill">
        <span class="skill-name">Css</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          
        </div>
      </div>
      <div class="skill">
        <span class="skill-name">JavaScript</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>

        </div>
      </div>
      <div class="skill">
        <span class="skill-name">PHP</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>

        </div>
      </div>
      <div class="skill">
        <span class="skill-name">C#</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>

        </div>
    </div>
      <div class="skill">
        <span class="skill-name">SQL</span>
        <div class="skill-rating">
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>
          <span class="star">&#9733;</span>

        </div>
    </div>
         <div class="skill">
                <span class="skill-name">ASP.net</span>
                <div class="skill-rating">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
            </div>
        <div class="skill">
            <span class="skill-name">Adobe Suite</span>
            <div class="skill-rating">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
    
            </div>
        </div>
            <div class="skill">
                <span class="skill-name">Microsoft Office</span>
                <div class="skill-rating">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
            </div>
       
           <h2 class="section-title">} </h2>
  </section>